.gamebody {
    display: flex;
}
.d {
    width: 25%;
    text-align: center;
    margin-top: 6%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #deebf4;
    border-radius: 25px;
}

h1 {
    text-align: center;
    margin-top: 2%;
    color: white;
}
.choice {
    font-size: 3em;
    margin: 1%;
}

p {
    font-size: 1.5em;
}

.btn-dark {
    margin-top: 3%;
}

.status {
    margin-top: 5%;
}
.comp-emoji {
    font-size: 2.5em;
}